@font-face {
  font-family: 'iconflow';
  src: url('iconflow.eot?t=1501167404138'); /* IE9*/
  src: url('iconflow.eot?t=1501167404138#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('iconflow.woff?t=1501167404138') format('woff'),
    /* chrome, firefox */ url('iconflow.ttf?t=1501167404138') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('iconflow.svg?t=1501167404138#iconflow') format('svg'); /* iOS 4.1- */
}

.iconflow {
  font-family: 'iconflow' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-zhizhen1:before {
  content: '\e602';
}

.i-msnui-close-fat:before {
  content: '\e674';
}

.i-close:before {
  content: '\e61a';
}

.i-wenjiantianjia:before {
  content: '\e659';
}

.i-tag:before {
  content: '\e6f9';
}

.i-conowredo:before {
  content: '\e672';
}

.i-conowrevoke:before {
  content: '\e673';
}

.i-baocun:before {
  content: '\e63d';
}

.i-refresh:before {
  content: '\e607';
}

.i-youxiashixin:before {
  content: '\e6b7';
}

.i-paizhaoanniu:before {
  content: '\e6bd';
}

.i-huizhang:before {
  content: '\e611';
}

.i-hrgongzuotai:before {
  content: '\e600';
}

.i-tingzhi-copy:before {
  content: '\e609';
}

.i-wenjianjia:before {
  content: '\e7a0';
}

.i-webtubiaoku08:before {
  content: '\e643';
}

.i-database:before {
  content: '\e742';
}

.i-chajian1:before {
  content: '\e66c';
}

.i-caidan:before {
  content: '\e649';
}

.i-wangluo:before {
  content: '\e62b';
}

.i-dayin:before {
  content: '\e671';
}

.i-user:before {
  content: '\e6af';
}

.i-kaishi:before {
  content: '\e700';
}

.i-hebing:before {
  content: '\e606';
}

.i-liaotian:before {
  content: '\e61b';
}

.i-dingshi:before {
  content: '\e633';
}

.i-xiejiantou:before {
  content: '\e605';
}

.i-peizhi:before {
  content: '\e678';
}

.i-xiangmuzuhe:before {
  content: '\e872';
}

.i-xitongcanshupeizhi:before {
  content: '\e68f';
}

.i-qukuai:before {
  content: '\e663';
}

.i-fenzhi:before {
  content: '\e60c';
}

.i-icon-test:before {
  content: '\e60d';
}

.i-icon-test1:before {
  content: '\e60e';
}

.i-xiaoxuxian:before {
  content: '\e675';
}

.i-jianchagongjuzhixian:before {
  content: '\e624';
}
