.cron-wrap /deep/ {
  .cell {
    &-div {
      margin-bottom: 8px;
    }
    &-symbol {
      color: #67c23a;
    }
  }
}

.cron {
  &-row {
    margin-top: 8px;
    max-width: 550px;
  }
}
