$primary-color: #409eff;
$primary-background-color: #ecf5ff;

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fa-icon {
  width: auto;
  height: 1em;
  /* 或任意其它字體大小相對值 */

  /* 要在 Safari 中正常工作，需要再引入如下兩行代碼 */
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.fm2-container {
  background: #fff;
  height: 100%;
  border: 1px solid #e0e0e0;

  .el-container {
    height: 100% !important;
  }

  & > .el-container {
    background: #fff;
  }

  .fm2-main {
    position: relative;

    & > .el-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  main {
    padding: 0;
  }

  footer {
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #e0e0e0;
    font-size: 12px;
    text-align: right;
    color: $primary-color;
    background: #fafafa;

    a {
      color: $primary-color;
    }
  }
}

.center-container {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;

  .btn-bar {
    height: 45px;
    line-height: 40px;
    font-size: 18px;
    // border-bottom: solid 2px #e4e7ed;
    border-top: solid 2px #e4e7ed;
    text-align: right;
  }

  .el-main {
    padding: 0;
    position: relative;
    background: #fafafa;
  }
}

.components-list {
  padding: 8px 0;
  width: 100%;
  height: 100%;

  .created-cate {
    padding: 8px 12px;
    font-size: 13px;
  }

  ul {
    position: relative;
    overflow: hidden;
    padding: 0 10px 10px;
    margin: 0;
  }

  .form-edit-created-label {
    font-size: 12px;
    display: block;
    width: 48%;
    line-height: 26px;
    // position: relative;
    // float: left;
    // left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 1%;
    color: #333;
    border: 1px solid #f4f6fc;
    text-align: center;

    max-width: 100px;
    margin: 0 5px 5px 0;
    display: inline-block;

    &:hover {
      color: $primary-color;
      border: 1px dashed $primary-color;
    }

    & > a {
      display: block;
      cursor: move;
      color: #409eff;
      // background: #F4F6FC;
      background: #fff;
      border: 1px solid #f4f6fc;

      .icon {
        display: none;
        margin-right: 6px;
        margin-left: 8px;
        font-size: 14px;
        // display: inline-block;
        vertical-align: middle;
      }

      span {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

.el-form-item__content {
  .el-radio {
    line-height: 32px;
  }
}

.created-form-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .created-form-list {
    background: #fff;
    // border: 1px dashed #999;
    border: 1px dashed #999;
    min-height: 450px;
    margin: 10px;

    .created-col-list {
      min-height: 50px;
      border: 1px dashed #ccc;
      background: #fff;
    }

    .created-view {
      padding: 15px 30px 30px 30px;
      position: relative;
      // border: 1px dashed rgba(170,170,170,0.7);
      // background-color: rgba(236, 245, 255, .3);
      border-bottom: 1px dashed rgba(170, 170, 170, 0.7);
      margin: 2px;
      cursor: pointer;

      &:last-child {
        border-bottom: 0;
      }

      .el-form-item__content {
        position: unset;
      }

      &.is_req {
        .el-form-item__label::before {
          content: '*';
          color: #f56c6c;
          margin-right: 4px;
        }
      }

      .created-view-description {
        height: 15px;
        line-height: 15px;
        font-size: 13px;
        margin-top: 6px;
        color: #909399;
      }

      .created-view-action {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 28px;
        line-height: 28px;
        background: $primary-color;
        z-index: 9;

        i {
          font-size: 14px;
          color: #fff;
          margin: 0 5px;
          cursor: pointer;
        }
      }

      .created-view-drag {
        position: absolute;
        left: -2px;
        top: -2px;
        bottom: -18px;
        height: 28px;
        line-height: 28px;
        background: $primary-color;
        z-index: 9;
        // display: none;

        i {
          font-size: 14px;
          color: #fff;
          margin: 0 5px;
          cursor: move;
        }
      }

      &:after {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        z-index: 1;
      }

      &:hover {
        background: $primary-background-color;
        outline: 1px solid $primary-color;
        outline-offset: 0px;

        &.active {
          outline: 2px solid $primary-color;
          border: 1px solid $primary-color;
          outline-offset: 0;
        }

        .created-view-drag {
          display: block;
        }
      }

      &.active {
        outline: 2px solid $primary-color;
        border: 1px solid $primary-color;
        background: rgba(235, 245, 255, 0.5);
      }

      &.ghost {
        background: #f56c6c;
        border: 2px solid #f56c6c;
        outline-width: 0;
        height: 3px;
        box-sizing: border-box;
        font-size: 0;
        content: '';
        overflow: hidden;
        padding: 0;
      }
    }

    .created-table {
      padding-bottom: 0;
      padding: 5px;
      background-color: rgba(253, 246, 236, 0.3);

      .created-table-wrapper {
        min-height: 50px;
        background: #fff;
        display: flex;
        justify-content: flex-start;

        .created-table-row {
          td {
            border-bottom: 0;
          }
        }

        .created-table-left {
          width: 51px;
          border-left: 1px solid #ebeef5;
          border-right: 1px solid #ebeef5;
          border-top: 1px solid #ebeef5;
          flex: none;
        }

        .created-table-view {
          border: 1px solid #ebeef5;
          width: 200px;
          float: left;
          height: 100%;
          position: relative;
          display: block;

          .el-table {
            height: 100%;
          }

          &.is_req {
            .el-form-item__label::before {
              content: '*';
              color: #f56c6c;
              margin-right: 4px;
            }
          }

          .created-view-description {
            height: 15px;
            line-height: 15px;
            font-size: 13px;
            margin-top: 6px;
            color: #909399;
          }

          .created-view-action {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 28px;
            line-height: 28px;
            background: $primary-color;
            z-index: 9;

            i {
              font-size: 14px;
              color: #fff;
              margin: 0 5px;
              cursor: pointer;
            }
          }

          .created-view-drag {
            position: absolute;
            left: -2px;
            top: -2px;
            bottom: -18px;
            height: 28px;
            line-height: 28px;
            background: $primary-color;
            z-index: 9;
            // display: none;

            i {
              font-size: 14px;
              color: #fff;
              margin: 0 5px;
              cursor: move;
            }
          }

          &::after {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: block;
            content: '';
          }

          &::before {
            display: none;
          }

          &:hover {
            background: $primary-background-color;
            outline: 1px solid $primary-color;
            outline-offset: -1px;

            &.active {
              // outline: 1px solid $primary-color;
              border: 1px solid $primary-color;
              outline: 1px solid $primary-color;
              outline-offset: -1px;
            }

            .created-view-drag {
              display: block;
            }
          }

          &.active {
            outline: 1px solid $primary-color;
            border: 1px solid $primary-color;
            outline-offset: -1px;
          }

          &.ghost {
            background: #f56c6c;
            outline-width: 0;
            width: 5px !important;
            box-sizing: border-box;
            font-size: 0;
            content: '';
            overflow: hidden;
            padding: 0;
            position: relative;
            outline: none !important;
            border: 0 !important;

            &::after {
              background: #f56c6c;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              z-index: 9999;
              content: '';
              outline: none;
            }
          }
        }

        .created-table-content {
          width: 100%;
          // border: 1px dashed #ccc;
          outline: 1px dashed #ccc;
          background: #fff;
          flex: 1;
          margin: 0 1px;
          overflow: auto;

          & > div {
            height: 100%;
          }

          .created-table-col {
            height: 100%;

            .ghost {
              background: #f56c6c;
              // border: 2px solid #F56C6C;
              position: relative;
              content: '';
              float: left;
              height: 100%;
              width: 5px !important;
              list-style: none;
              font-size: 0;
              overflow: hidden;
              outline: none;

              &::after {
                background: #f56c6c;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 9999;
                content: '';
                outline: none;
              }
            }
          }
        }
      }

      &.active {
        outline: 2px solid #e6a23c;
        border: 1px solid #e6a23c;
      }

      &:hover {
        background: #fdf6ec;
        outline: 1px solid #e6a23c;
        outline-offset: 0px;

        &.active {
          outline: 2px solid #e6a23c;
          border: 1px solid #e6a23c;
          outline-offset: 0;
        }
      }

      .created-view-action.created-col-action {
        background: #e6a23c;
      }

      .created-view-drag.created-col-drag {
        background: #e6a23c;
      }

      &::after {
        display: none;
      }

      &.ghost {
        background: #f56c6c;
        outline-width: 0;
        height: 5px;
        box-sizing: border-box;
        font-size: 0;
        content: '';
        overflow: hidden;
        padding: 0;
        position: relative;
        outline: none;
        border: 0;

        &::after {
          background: #f56c6c;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          display: block;
          z-index: 999;
        }
      }
    }

    .created-col {
      padding-bottom: 0;
      padding: 5px;
      // margin-left: 2px !important;
      // margin-right: 2px !important;
      background-color: rgba(253, 246, 236, 0.3);

      &.active {
        outline: 2px solid #e6a23c;
        border: 1px solid #e6a23c;
      }

      &:hover {
        background: #fdf6ec;
        outline: 1px solid #e6a23c;
        outline-offset: 0px;

        &.active {
          outline: 2px solid #e6a23c;
          border: 1px solid #e6a23c;
          outline-offset: 0;
        }
      }

      .el-col {
        min-height: 50px;
      }

      &.ghost {
        background: #f56c6c;
        border: 2px solid #f56c6c;
        outline-width: 0;
        height: 3px;
        box-sizing: border-box;
        font-size: 0;
        content: '';
        overflow: hidden;
        padding: 0;
      }

      .created-view-action.created-col-action {
        background: #e6a23c;
      }

      .created-view-drag.created-col-drag {
        background: #e6a23c;
      }

      &::after {
        display: none;
      }
    }

    .ghost {
      background: #f56c6c;
      border: 2px solid #f56c6c;
      outline-width: 0;
      height: 3px;
      box-sizing: border-box;
      font-size: 0;
      content: '';
      overflow: hidden;
      padding: 0;
    }
  }

  .ghost {
    background: #f56c6c;
    border: 2px solid #f56c6c;
    position: relative;

    &::after {
      background: #f56c6c;
    }
  }

  li.ghost {
    height: 5px;
    list-style: none;
    font-size: 0;
    overflow: hidden;
  }

  .created-grid {
    background: #f4f6fc;
    position: relative;
    border-left: 5px solid transparent;
    padding: 5px;
    margin: 0 !important;

    &.active {
      border-left: 5px solid $primary-color;
      background: #b3d8ff;
    }
  }

  .created-grid-container {
    &.ghost {
      background: #f56c6c;
      border: 2px solid #f56c6c;
      outline-width: 0;
      height: 3px;
      box-sizing: border-box;
      font-size: 0;
      content: '';
      overflow: hidden;
      padding: 0;
    }
  }

  .ghost {
    background: #f56c6c;
    border: 2px solid #f56c6c;
    position: relative;

    &::after {
      background: #f56c6c;
    }
  }

  li.ghost {
    height: 5px;
    list-style: none;
    font-size: 0;
    overflow: hidden;
  }
}

.created-config-container {
  position: relative;

  .el-header {
    border-bottom: solid 2px #e4e7ed;
    padding: 0 5px;
  }

  .config-tab {
    height: 45px;
    line-height: 45px;
    display: inline-block;
    width: 145px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    cursor: pointer;

    &.active {
      border-bottom: solid 2px $primary-color;
    }
  }

  .config-content {
    padding: 10px;

    .el-form-item__label {
      padding: 0;
      font-weight: 500;
    }

    .el-form-item {
      border-bottom: solid 1px #e1e1e1;
      padding-bottom: 10px;
    }
  }

  .ghost {
    background: #fff;
    border: 1px dashed $primary-color;

    &::after {
      background: #fff;
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li.ghost {
    list-style: none;
    font-size: 0;
    display: block;
    position: relative;
  }
}

.viewer-container {
  z-index: 99999 !important;
}

.form-empty {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 20px;
  top: 40%;
  left: 0;
  text-align: center;
  color: #ccc;
}
