<template>
  <div id="app">
    <router-view></router-view>
    <div class="git-hash">{{ gitHash }}</div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'App',
  data() {
    return {
      gitHash: process.env.VUE_APP_GIT_HASH,
    }
  },
  computed: {
    ...mapGetters(['oidcIsAuthenticated']),
  },
  methods: {
    userLoaded: function (e) {
      console.log('I am listening to the user loaded event in vuex-oidc', e.detail)
    },
  },
  mounted() {
    // const recaptcha = this.$recaptchaInstance;
    // console.log("recaptcha", recaptcha);
    // recaptcha?.hideBadge();
    window.addEventListener('vuexoidc:userLoaded', this.userLoaded)
  },
  destroyed() {
    window.removeEventListener('vuexoidc:userLoaded', this.userLoaded)
  },
}
</script>

<style lang="scss">
* {
  p {
    margin: 0;
  }
}
.git-hash {
  position: fixed;
  bottom: 2px;
  right: 2px;
  font-size: 12px;
  color: gray;
}
</style>
